# Ignore answer log file
answer_log.csv
# Ignore Visual Studio Code settings folder
.vscode/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Flask instance folder
instance/

# Ignore environment variables file
.env

# Ignore virtual environment folders
venv/
env/

*.csv